.flex-container {
 display: flex;
 flex-direction: column;
 background-color: #0093E9;
 background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
 height: 100vh;
 padding-top: auto;
}
.title{
 
 display: flex;
 justify-content: center;
 font-family: serif;
 font-size: 60px;
 margin-top: 50px;
 color: aliceblue;
}

.content {
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 padding: 20px;

 
 
}
.buttons{
 display: flex;
 justify-content: center;
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom: 10px;
}


.mode {
    align-self: flex-end;
}
  
.board {
 display: grid;
 margin-left: auto;
 margin-right: auto;
 width: 500px;
 height: 500px;
 box-shadow: 0 5px 40px #171717;
}
  
button {
 background: blue;
 background-color: #196BCA;
 color: #fff;
 font-family: Trebuchet MS;
 font-size: 18px;
 font-weight: 800;
 font-style: normal;
 text-decoration: none;
 padding: 14px 20px;
 border: 0px solid #000;
 border-radius: 10px;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 margin: 0px 5px;
}


.mode{
    font-size: 23px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#random {
    
    background-image: linear-gradient(65deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}
#black {
    background: linear-gradient(to right,#000000 ,#000000);
}
#gray {
    background: gray;
}


.sizeInput, .mode  {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
   }
   
   button:hover{
    color:#000000;
    background:#ffffff;}

.sizeInput {
    margin-top: 30px;
    height: 30px;
}

#saveJpg, #reset {
 background: transparent;
 border: solid rgb(255, 255, 255);
 color: #fff;
}

#saveJpg:hover, #reset:hover{
    background: white;
    border: solid rgb(255, 255, 255);
    color: #000;
    transition:  0.1s ease-in;
   }